<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/site-icon-white.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" type="text/css" href="./validation/validate.css">
    <script src="./form.js" defer></script>
    <script src="./validation/validate.js" defer></script>
    <title>PluggedIn | Contact Us</title>
</head>
<body>
    <!-- Nav bar -->
    <header class="header-fixed">
        <a href="./index.html"><img class="brand-logo" src="./images/brand-logo-bg-none.svg" alt="PluggedIn's brand logo" id="brand-logo"></a>
        <nav class="navbar">
            <a href="./index.html#about">About</a>
            <div class="subnav">
                <button class="subnav-btn">Device Center &#x2304</button>
                <div class="subnav-content">
                    <a href="./add.html">Add</a>
                    <a href="./delete.html">Delete</a>
                    <a href="./status.html">Status</a>
                    <a href="./control.html">Control</a>
                </div>
            </div>
            <a href="./sign_up.html" class="navbar-first-right">Sign Up</a>
            <a href="./contact.html" class="navbar-right">Contact Us</a>
        </nav>
    </header>
    <section class="main">
        <h1>Get in touch.</h1>
        <!-- Sends form data to database -->
        <form method="POST" action="/contact.html" id="contact_form">
            <input id="first" type="text" name="first" placeholder="Enter your first name" 
            class="validate" required>
            <p class="validate-msg">&#9888 First name must be and contain 2 - 40 characters</p>
            <br>
            <input id="last" type="text" name="last" placeholder="Enter your last name" 
            class="validate" required>
            <p class="validate-msg">&#9888 Last name must be and contain 2 - 40 characters</p>
            <br>
            <input id="msg" type="text" name="msg" placeholder="Write your message here..." 
            class="validate" required>
            <p class="validate-msg">&#9888 Message must be and contain 10 - 450 characters</p>
            <br>
            <input id="email" type="email" name="email" placeholder="Enter your email" 
            class="validate" required>
            <p class="validate-msg">&#9888 Email must be a valid address, e.g. name@mymail.com</p>
            <br>
            <input class="input-btn validate-btn" type="submit" value="SEND" id="contact-btn">
        </form>
    </section>
</body>
</html>