<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/site-icon-white.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>PluggedIn | &#9888 Error</title>
</head>
<body>
    <!-- Nav Bar -->
    <header class="header-fixed">
        <a href="./index.html"><img class="brand-logo" src="./images/brand-logo-bg-none.svg" alt="PluggedIn's brand logo" id="brand-logo"></a>
        <nav class="navbar">
            <a href="./index.html#about">About</a>
            <div class="subnav">
                <button class="subnav-btn">Device Center &#x2304</button>
                <div class="subnav-content">
                    <a href="./add.html">Add</a>
                    <a href="./delete.html">Delete</a>
                    <a href="./status.html">Status</a>
                    <a href="./control.html">Control</a>
                </div>
            </div>
            <a href="./sign_up.html" class="navbar-first-right">Sign Up</a>
            <a href="./contact.html" class="navbar-right">Contact Us</a>
        </nav>
    </header>
    <section id="selected_device" class="main">
        <h1>&#9888 Error! Page not found.</h1>
        <img class="success-img" src="./images/detective.svg" alt="Detective emoji">
        <img class="success-img brand" src="./images/brand-logo.svg" alt="Brand logo">
        <p style="width: 100%; margin: auto; text-align: center;">
            Your process(es) is/were unsuccesful. Try again, or 
            <a 
                href="./contact.html" style="text-decoration: underline;">contact us
            </a> if the problem persists.
        </p>
    </section>
</body>
</html>