<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/site-icon-white.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>PluggedIn | Home</title>
</head>
<body>
    <!-- Nav Bar -->
    <header class="header-fixed">
        <a href="./index.html"><img class="brand-logo" src="./images/brand-logo-bg-none.svg" alt="PluggedIn's brand logo" id="brand-logo"></a>
        <nav class="navbar">
            <a href="./index.html#about">About</a>
            <div class="subnav">
                <button class="subnav-btn">Device Center &#x2304</button>
                <div class="subnav-content">
                    <a href="./add.html">Add</a>
                    <a href="./delete.html">Delete</a>
                    <a href="./status.html">Status</a>
                    <a href="./control.html">Control</a>
                </div>
            </div>
            <a href="./sign_up.html" class="navbar-first-right">Sign Up</a>
            <a href="./contact.html" class="navbar-right">Contact Us</a>
        </nav>
    </header>
    <!-- Index Page -->
    <section class="main" id="index-main">
        <h1>"Get plugged in."</h1>
        <div class="img-group">
            <img src="./images/index-img.svg" alt="User using the PluggedIn app on their phone." class="index-img">
            <figcaption>Hover over me!</figcaption>
        </div>
        <div class="main-text">
            <p>Do you want <strong>greater</strong> control of your energy?</p>
            <br>
            <p>All while automating things like:</p>
            <ul>
                <li>adjusting temperature...</li>
                <li>turning on and off lights...</li>
                <li>opening and closing curtains...</li>
            </ul>
            <br>
            <p>Sounds interesting? Click the button on the left to sign up!</p>
        </div>
        <a href="./sign_up.html"><button class="input-btn" id="to-sign">Sign Up</button></a>
    </section>

    <!-- About Page -->
    <section id="about" class="secondary-content">
        <h1>Welcome.</h1>
        <p><strong style="color: #ebe77f;">PluggedIn</strong> inc. was brought to life in London, England by <em>W. A. GOLDMAN</em>,
        and has since been constantly evolving. <strong>PluggedIn</strong> gives users the tools needed to make
        managing their home a lot easier. Here at <strong>PluggedIn</strong> we offer control for IoT and 
        smart devices- allowing you to control <em>ALL</em> of your devices from <em>ONE</em> place.</p>
        <p>If you would like to know more or simply have an enquiry, feel free to contact us 
            <strong><a href="./contact.html">here</a></strong>!</p>
        <br>
        <p style="text-align: center;">Enjoy, <span id="signature">W. A. Goldman</span> :)</p>
    </section>
</body>
</html>